@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 0.5rem; /* height of the horizontal scrollbar */
  width: 0.5rem; /* width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 10px;
}